@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.card {
  @include m.card;
  padding: 1.25rem 1.5rem;
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0 1rem;

  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 64rem) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.searchField {
  @media (min-width: 64rem) {
    grid-column: span 2 / span 2;
  }
}

.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 0.75rem;
  color: v.$neutral-400;
  pointer-events: none;
}

.searchInput {
  padding-left: 2.25rem;
}
